/*css reset*/
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

.wrapper {
    width: 1226px;
    margin: 0 auto;
}

/*公共样式*/

/*banner开始*/
.banner {
    height: 120px;
    background: url("../img/banner.jpg") no-repeat 50% 50%;
}

.banner a {
    display: block;
    width: 100%;
    height: 100%;
}

/*banner结束*/

/*nav开始*/
.nav {
    height: 40px;
    background: #333333;
}

.main-menu {
    overflow: hidden;
    float: left;
}

.nav li {
    float: left;
    height: 40px;
}

.nav a {
    color: #b0b0b0;
    line-height: 40px;
    font-size: 12px;
}

.nav a:hover {
    color: #ffffff;
}

.main-menu .sep, .user-info .sep {
    margin: 0 6px;
    color: #424242;
}

.user-info {
    float: right;
}

.cart {
    position: relative;
    width: 120px;
    text-align: center;
}

.cart a {
    width: 100%;
    height: 100%;
    display: block;
    background: #424242;
}

.cart a:hover {
    color: #ff6700;
    background: #ffffff;
}

.cart-box {
    width: 316px;
    height: 85px;
    padding-top: 15px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
}

/*nav结束*/

/*site-header开始*/
.site-header {
    height: 100px;
    /*position:relative;*/
}

.site-header .logo {
    display: block;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    float: left;
    margin-top: 22px;
}

.site-header .logo:before {
    float: left;
    content: '';
    background: url(../img/mi-logo.png) no-repeat center;
    width: 55px;
    height: 55px;
    display: block;
}

.site-header .header-nav {
    float: left;
    height: 100%;
    margin-left: 158px;
}

.header-nav .nav-item {
    float: left;
    height: 100%;
    /*line-height: 100px;*/
    margin-top: 40px;
}

.header-nav .nav-item a {
    padding: 0 10px;
    color: #333;
    font-size: 16px;
}

.header-nav .nav-item .par-flag:hover {
    color: #ff6700;
}

.site-header .header-sub-nav {
    overflow: hidden;
    position: absolute;
    z-index: 20;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    height: 0;
    transition: height 0.2s ease-out;
    background: #fff;
    margin-top: 37px;
}

.site-header .header-sub-nav-inner {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ccc;
}

.site-header .header-sub-nav li {
    float: left;
}

.site-header .nav-item:hover .header-sub-nav {
    height: 230px;
}

/*.item-child .children-list .space{*/
/*position:absolute;*/
/*top:35px;*/
/*left:0;*/
/*z-index:1;*/
/*width:1px;*/
/*height:100px;*/
/*background:#e0e0e0;*/
/*}*/

.item-child .children-list li {
    position: relative;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}

.item-child .flags {
    height: 22px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    font-size: 12px;
    text-align: center;
}

.flags .flag {
    display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.item-child .figure-thumb {
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}

.item-child .title {
    margin: 0;
    line-height: 20px;
}

.item-child .title a {
    color: #333;
    font-size: 12px;
}

.item-child .price {
    /*margin: 0;*/
    /*margin:5px 0 0 0;*/
    line-height: 20px;
    color: #ff6700;
    font-size: 12px;
}

.header-search {
    float: right;
    width: 295px;
    height: 50px;
    border: 1px solid #e0e0e0;
    margin-top: 25px;
    position: relative;
}

.header-search .search-input {
    width: 244px;
    height: 50px;
    border: 0;
    outline: none;
    border-right: 1px solid #e0e0e0;
    float: left;
    font-size: 18px;
    text-indent: 10px;
}

.header-search .search-btn {
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
    float: left;
    cursor: pointer;
    transition: background 0.2s ease;
    font-weight: bold;
}

.header-search .search-btn:hover {
    background: #ff6700;
    color: #fff;
}

.header-search .search-list {
    width: 244px;
    border: 1px solid #ff6700;
    position: absolute;
    left: -1px;
    top: 50px;
    display: none;
}

.header-search .search-list li {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    cursor: pointer;
}

.header-search .search-list li:hover {
    background: #e0e0e0;
}

.header-search .search-keywords {
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 60px;
}

.header-search .search-keywords a {
    background: #e0e0e0;
    color: #333;
    font-size: 12px;
}

/*site-header结束*/

/*home-hero-container开始*/
.home-hero-container {
    height: 460px;
    position: relative;
}

.site-category {
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background: #333;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    font-size: 14px;
    float: left;
    z-index:10;
}

.site-category-list li {
    width: 234px;
    height: 42px;
    /*position:relative;*/
}

.site-category-list a {
    line-height: 42px;
    width: 100%;
    display: block;
    position: absolute;
    padding-left: 30px;
    box-sizing: border-box;
}

.site-category-list a {
    color: #fff;
}

.site-category-list a:hover {
    background: #ff6700;
}

.site-category-list i {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #e0e0e0;
    font-weight: bold;
}

.site-category-list .children-clearfist {
    overflow: hidden;
    width: 795px;
    height: 458px;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    display: none;
}

.site-category-list li:hover .children-clearfist {
    display: block;
}

.children-clearfist .children-list {
    float: left;
    width: 265px;
    height: 458px;
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
}

.children-clearfist .children-list li {
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}

.children-clearfist .children-list li .link {
    width: 190px;
    display: block;
    padding: 17px 0 17px 20px;
}

.children-clearfist .link img {
    margin-right: 12px;
    vertical-align: middle;
    border: 0;
}

.children-clearfist .link .text {
    line-height: 40px;
    color: #333;
}

.children-clearfist .btn-buy {
    position: absolute;
    right: 10px;
    top: 26px;
    z-index: 1;
    display: inline-block;
    width: 60px;
    height: 24px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    border: 1px solid;
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
    transition: all .4s;
    font-size: 12px;
    text-align: center;
}

.children-clearfist .link:hover {
    background-color: #fff;
    color: #ff6700;
}

.children-clearfist .link .text:hover, .children-clearfist .link img:hover {
    color: #ff6700;
}

.children-clearfist .btn-buy:hover {
    color: #fff;
}
.home-hero-container #picture a img{
    /*display:none;*/
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition: all 1s ease-in-out;
}
.home-hero-container #picture a .selected{
    display:block;
    opacity:1;
}
.home-hero-container #tab li{
    width:6px;
    height:6px;
    color:#fff;
    float:left;
    margin-right:5px;
    text-align:center;
    line-height:20px;
    background: rgba(0,0,0,0.4);
    border:2px solid;
    border-color: rgba(255,255,255,0.3);
    border-radius:50%;
    cursor:pointer;
    transition: all .2s;
}
.home-hero-container #tab .choosed{
    background: rgba(255,255,255,0.3);
    border-color: rgba(0,0,0,0.4);
}
.home-hero-container #tab{
    position:absolute;
    right:20px;
    bottom:20px;
}
.home-hero-container .arrows i{
    width:41px;
    height:69px;
    cursor:pointer;
    transition: all .4s;
    text-align: center;
    line-height:69px;
    font-size:50px;
    color:#757575
}
.home-hero-container .arrows i:hover{
    background: rgba(0, 0, 0, 0.6);
    color:#fff;
}
.home-hero-container .arrows .icon-back{
    position:absolute;
    overflow:hidden;
    top:195px;
    left:234px;
}
.home-hero-container .arrows .icon-more{
    position:absolute;
    top:195px;
    right:0;
}
.home-hero-sub {
    margin-top: 14px;
    height:170px;
}
.span4 {
    width: 234px;
    overflow: hidden;
}
.home-channel-list {
    margin: 0;
    padding: 3px;
    list-style-type: none;
    text-align: center;
    background: #5f5750;
    float:left;
    font-size:12px;
}
.home-channel-list li {
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.home-channel-list li i{
    display: block;
    height: 24px;
    margin-top:18px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    color:#e0e0e0;
}
.home-channel-list li span{
    margin-top: 5px;
    color:#e0e0e0;
}
.home-channel-list li:after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}
.home-channel-list li:before, .home-channel-list li:after {
    position: absolute;
    content: "";
    background: #665e57;
}
.home-channel-list li:before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}
.home-channel-list li:before, .home-channel-list li:after {
    position: absolute;
    content: "";
    background: #665e57;
}
.home-promo-list{
    height:170px;
    position:absolute;
    left:397px;
}
.home-promo-list .first,.home-promo-list .second{
    margin-right:14px;
}
.home-promo-list li{
    float:left;
}
.span4 .home-channel-list i:hover,.span4 .home-channel-list span:hover{
    color:#fff;
}
.span4 .home-promo-list li img:hover{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
/*home-hero-container开始*/

