*{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
.wrapper{
    min-height: 100%;
    width: 100%;
}
img{
    display:block;
}

/*navbar开始*/
#content{
    width:100%;
    position: relative;
}
.navbar{
    width:100%;
    height:100px;
    color: #4e4e4e;
    transition: all 250ms ease-in-out;
    background: #fff;
    box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    display:flex;
}
#navbar-list{
    width:40px;
    height:46px;
    margin-top:27px;
    text-align: center;
    margin-left:30px;
}
#navbar-list .menu-icon{
    cursor: pointer;
}
#navbar-list span{
    color: #000;
    cursor: pointer;
    font-size: 12px;
}
#logo{
    text-align: center;
    padding-top: 15px;
    flex-grow:1;
}
#logo .navbar-brand{
    width:73px;
    height: 85px;
}
#logo img{
    transition: all 250ms ease-in-out;
    width: 73px;
    height:73px;
    display:inline;
}

#log-in{
    width:82px;
    height:42px;
    font-size:16px;
    margin-right:30px;
    margin-top:29px;
}
#log-in span a{
    color:#b89f7a;
    font-weight:bold;
    font-size:14px;
}

/*navbar结束*/

/*item开始*/
#item{
    width:1920px;
}
.smallImage{
    display:none;
}

@media(min-width:992px){
    #item{
        width:100%;
    }
    #item .bigImage{
        width:100%;
    }
}
@media(max-width:991px){
    #item{
        width:100%;
    }
    #item .bigImage{
        display:none;
    }
    #item .smallImage{
        display:block;
        width:100%;
    }
}
/*item结束*/

/*rewards开始*/
#rewards{
    width:100%;
    height:220px;
    background: #0f0f0f;
    color:#fff;
    display:flex;
}
#rewards-mask{
    flex-grow: 1;
}
#rewards-mask #contain{
    height:220px;
    float:right;
    background: url(../image/rewards_bg.png) 0 0/120% no-repeat;
}
#rewards-mask #contain #carry{
    margin-top: 75px;
}
#rewards-mask span{
    font-size:18px;
}
#rewards-mask .rewards-mask-logo{
    width:160px;
    height:36px;
}
#rewards-content{
    flex-grow: 1;
}
#contain_content{
    padding-left:95px;
    margin-top:35px;
}
#rewards-content .club{
    font-size:25px;
}
#rewards-btn{
    margin-top: 40px;
}
#rewards-btn .registered,#rewards-btn .log-in{
    background: transparent;
    border: 2px solid #a98e67;
    padding: 14px 40px;
    color: #a98e67;
    margin-right:10px;
}
#rewards-btn .knowmore{
    color: #a98e67;
    margin-left: 30px;
    font-size: 14px;
}
#rewards-btn span{
    margin-right:-8px;
}

#rewards-btn .knowmore:hover{
    color: #707070;
}
#rewards-btn .registered:hover,#rewards-btn .log-in:hover{
    background:#a98e67;
    color:#fff;
}

@media (max-width:767px) {
    #rewards{
        width:100%;
        height:500px;
        display:block;
    }
    #rewards-mask{
        height: 150px;
        text-align: center;
        padding: 0 35px 35px 35px;
    }
    #rewards-mask .rewards-mask-logo{
        margin:2px auto;
    }
    #rewards-mask #contain{
        width:100%;
        height:70px;
    }
    #contain_content{
        width:100%;
        height:310px;
        text-align: center;
        padding: 0 0 35px 0;
        /*justify-content: center;*/
        margin-top:0;
    }
    #rewards-content .intro{
        font-size:18px;
        margin:15px 0 20px 0;
    }
    #rewards-content #rewards-btn .registered,#rewards-content #rewards-btn .log-in{
        width:50%;
        border:2px solid #a98e67;
        padding:14px 67px;
        margin:7px auto;
        display:block;
    }
    #rewards-content #rewards-btn .knowmore{
        float:right;
        margin-top:25px;
        margin-right:30px;
    }
}
/*rewards结束*/

/*app开始*/
#app{
    width:100%;
    background-color: #EFEBE8;
    position:relative;
    overflow: hidden;
}
#app .app-web{
    max-width: 100%;
    height: auto;
}
#app .app-mobile{
    display:none;
}
#app #app-download{
    position:absolute;
    top: 50%;
    left: 42%;
    margin-top: -65px;
}
#app #app-download img{
    width:130px;
    height:130px;
}
#app #content_info{
    width: 352px;
    height: 100px;
    position:absolute;
    top: 50%;
    left: 44%;
    margin-top: -50px;
    -webkit-transform: translate(130px, 0);
    transform: translate(130px, 0);
}
#app #content_info .app-content-intro{
    font-size:18px;
    color:#3d3d3d;
    margin:0 0 14px;
}
#app #content_info a{
    color:#a98e67;
}
#app #content_info span{
    margin-right:-5px;
}
#app #content_info .app-content-unibtn img{
    display:none;
}
#app-mobile{
    width:100%;
    display:none;
    background:#EFEBE8;
    text-align: center;
}
#app-mobile .app-mobile{
    display:block;
    max-width: 100%;
    height: auto;
}
#app-mobile .app-mobile-content-intro{
    width:100%;
    font-size:18px;
    color:#3d3d3d;
    /* padding:4% 4%; */
    margin:0 0 14px;
    line-height:28px;
}
#app-mobile .app-content-link{
    color: #b89f7a;
}
#app-mobile .app-content-link span{
    margin-right:-2px;
}
#app-mobile .app-content-unibtn{
    display:block;
    width:220px;
    height:75px;
    margin:7px auto 0;
    background:url(../image/udp-starbucks-cn.svg) center no-repeat;
}
@media(max-width:768px){
    #app{
        display:none;
    }
    #app-mobile{
        display:block;
    }
}
/*app结束*/

/*mosaic开始*/
#mosaic{
    display:flex;
}
#mosaic .product{
    width:761px;
    display:block;
    flex-grow: 1;
    position:relative;
}
#mosaic .product img{
    width:100%;
    height:auto;
}
#mosaic .product .cell{
    width:80%;
    text-align: center;
    position: absolute;
    bottom:1%;
    margin:0 auto;
}
#mosaic .product .cell h2{
    bottom: 40px;
    width: 100%;
    text-align: center;
    line-height: 38px;
    margin: 0;
    padding: 0 10%;
    font-size: 30px;
    font-weight: 400;
    color: #fffffe;
}
#mosaic .product .cell h3{
    bottom: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 13px;
    line-height: 22px;
    color: #a98e67;
    padding: 0 10%;
}
@media(max-width:768px){
    #mosaic{
        display:block;
    }
    #mosaic .product{
        width:100%;
    }
}
/*mosaic结束*/

/*wsg开始*/
#wsg{
    width:100%;
    height:222px;
    display:flex;
    background: #106e4b;
}
#wsg .container-left,#wsg .container-right{
    flex-grow: 1;
}
#wsg .container-left .wsg-container-img1{
    background:url(../image/wsg-title.png) center/contain no-repeat;
    width: 178px;
    height: 128px;
    float:left;
    margin: 11px 25px 0 10px;
}
#wsg .container-left .wsg-container-img2{
    background:url(../image/wsg-qrcode.png) center/contain no-repeat;
    width: 107px;
    height: 150px;
    float:left;
    margin: auto 24px;
}
#wsg .container-right .wsg-container-img3{
    background:url(../image/wsg-cup.png) center/contain no-repeat;
    width: 99px;
    height: 162px;
    float:left;
    margin: auto 25px;
}
#wsg .container-right .wsg-container-img4{
    background:url(../image/wsg-wording.png) center/contain no-repeat;
    width: 185px;
    height: 142px;
    float:left;
    margin: 10px 25px 0;
}
#wsg .container-left .wsg-block-left{
    float:right;
    margin-top:35px;
}
#wsg .container-right .wsg-block-right{
    height:162px;
    margin-top:29px;
}
#wsg-app{
    width:100%;
    height:382px;
    background: #106e4b;
    display:none;
}
#wsg-app .wsg-container-block{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: relative;
}
#wsg-app .wsg-container-block .wsg-cup{
    background:url(../image/wsg-cup.png) center/contain no-repeat;
    width: 150px;
    height: 162px;
    display: inline-block;
    left: -5px;
    margin-top:30px;
}
#wsg-app .wsg-container-block .wsg-item2{
    background:url(../image/wsg-title.png) center/contain no-repeat;
    width: 150px;
    height: 76px;
    display: inline-block;
    position: relative;
    top: -40px;
}
#wsg-app .wsg-container-block .container-img3{
    background:url(../image/wsg-qrcode.png) center/contain no-repeat;
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
    right: -5px;
}
#wsg-app .wsg-container-block .container-img4{
    background:url(../image/wsg-wording.png) center/contain no-repeat;
    width: 180px;
    height: 92px;
    display: inline-block;
    position: relative;
    top: -13px;
    right: -10px;
}
@media(max-width:768px){
    #wsg-app{
        display:block;
    }
    #wsg{
        display:none;
    }
}
/*wsg结束*/

/*apple-watch开始*/
#apple-watch-web{
    width:100%;
    height:220px;
    background:url(../image/web-bg.png) repeat-x;
    display:flex;
    text-align: center;
}
#apple-watch-web .container-left,#apple-watch-web .container-right{
    flex-grow: 1;
    height:220px;
}
.watch-cn-image,.watch-intro,.watch-qrcode{
    float:left;
}
#apple-watch-web .watch-cn-image{
    width: 408px;
    height: 220px;
    background: url(../image/web-iwatch-cn.png) center/contain no-repeat;
    float:right;

}
#apple-watch-web .watch-intro{
    width:480px;
    height:161px;
}
#apple-watch-web .watch-intro p{
    text-align: left;
    font-size: 18px;
    padding: 35px 64px 0 64px;
    line-height: 28px;
    color: #3d3d3d;
}
#apple-watch-web .watch-intro p a{
    color: #b89f7a;
    background-color: transparent;
}
#apple-watch-web .watch-qrcode{
    width:130px;
    height:207px;
    padding-top: 35px;
    padding-left: 20px;
    margin: 0;
}
#apple-watch-web .watch-qrcode  .qrcode{
    width: 130px;
    height: 130px;
    background: url(../image/app_qr_20170209.png) center/contain no-repeat;
}
#apple-watch-web .watch-qrcode p{
    width: 130px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    color: #3d3d3d;
}
#apple-watch-mobile{
    width:100%;
    height:630px;
    background:url(../image/mobile-bg.png) repeat-x;
    display:none;
}
#apple-watch-mobile .watch-cn-image{
    width:100%;
    height: 338px;
    margin: 0 auto;
    background: url(../image/mobile-iwatch-cn.png) center/contain no-repeat;   
}
#apple-watch-mobile .watch-intro p{
    text-align: center;
    font-size: 18px;
    padding: 0 31px;
    margin:0 42px 14px 42px;
    line-height: 28px;
    color: #3d3d3d;
}
#apple-watch-mobile .watch-intro p a{
    display:block;
    width:116px;
    height:22px;
    margin: 0 auto;
    color: #967a50;
    text-decoration: none;
}
#apple-watch-mobile .watch-udp-btn{
    display: block;
    width: 188px;
    height: 75px;
    margin:0 auto;
    /* background: url(../image/udp-starbucks-cn.svg) center/contain no-repeat; */
}
@media(max-width:1068px){
    #apple-watch-mobile{
        display:block;
    }
    #apple-watch-web{
        display:none;
    }
}
/*apple-watch结束*/

/*collection开始*/
#collection{
    width:100%;
    background-color: #f5f5f5;
    padding: 80px 0;
}
#collection .collection-title{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2F2F2F;
    /* letter-spacing: normal; */
    font-weight: 400;
    line-height: 38px;
    text-transform: none;
}
#collection .collection-subtitle{
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px;
    color: #8B8B8B;
}
#collection .collection-box{
    display:flex;
    width:100%;
    height:310px;
}
#collection .collection-box a{
    display:block;
    /* flex-grow: 1; */
    position: relative;
    width: 240px;
    height: 280px;
    margin: 15px;
    text-decoration: none;
    box-shadow: 0 0px 2px #ccc
}
#collection .collection-box a .xingxiang-card{
    width:240px;
    height:160px;
    background:url(../image/1@2x.png) center/contain no-repeat;
}
#collection .collection-box a .xingli-card{
    width:240px;
    height:160px;
    background:url(../image/2@2x.png) center/contain no-repeat;
}
#collection .collection-box a .erc-coupon{
    width:240px;
    height:160px;
    background:url(../image/3@2x.png) center/contain no-repeat;
}
#collection .collection-box a .coffee-life{
    width:240px;
    height:160px;
    background:url(../image/4@2x.png) center/contain no-repeat;
}
#collection .collection-box a div{
    margin:0 auto;
}
#collection .collection-box a .item{
    display: block;
    width: 240px;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: #2F2F2F;
    text-decoration: none;
    font-weight: bolder;
}
#collection .collection-box a p{
    width: 240px;
    text-align: center;
    font-size: 14px;
    color: #707175;
    text-decoration: none;
    margin-top:10px;
}
#collection .collection-box .distance{
    margin-left:50%;
}
/*collection结束*/



